html{
   
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width:485px;
    margin:auto;
    background: #000000;
}
main{
    background:#ffffff;
    padding:20px;
}
footer{
    background:#000000;
}
p {
    font-size: 1.25em;
}
figcaption, label, input, small {
    font-size: 1em;
}
nav{
    width:485px;
    padding-bottom:5px
}
nav a {
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    color:#ffffff;
    font-weight:bold;
    margin:15px;
}
nav li{
    display: inline-block;
    text-align: center;
    padding-bottom:8px;
    
}
[href="#top"] {
    position:fixed;
    border-radius:5px 0 0px 0px;
    text-transform: lowercase;
    bottom:0;
    border-color: white;
    border-style: solid;
    padding: 5px;
    right: 0;
    background: black;
    
  }
h1 {
    text-transform: uppercase;
    font-size: 3em;
    color:#007d7b;
    font-weight:bold;
    background:#ffffff;
    text-align:center;
}
h2 {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}

.galleryimgs figure{
    margin:auto;
    text-align: center;
}
figcaption{
    text-transform: uppercase;
    position:relative;
    font-weight: bold;
}
.chile figcaption{
   color: #ffffff;
   top:-35px;
}
.guatemala figcaption{
    color: #ffffff;
    top:-270px
}
.hawaii figcaption{
    color: #ffffff;
    top:-35px;
 }
 .iran figcaption{
    top:-620px
 }
 .ireland figcaption{
    top:-620px
 }
 .italy figcaption{
    top:-35px;
 }
 .moab figcaption{
    color: #ffffff;
    top:-35px;
 }
 .rockymtns figcaption{
    top:-270px
}
.switzerland figcaption{
    top:-270px
}
.uk figcaption{
    top:-270px
}
.usa figcaption{
    top:-270px
}
.wyoming figcaption{
    color:#ffffff;
    top:-270px
}
footer h2, footer p{
    color:#ffffff;
    text-align: center;
}
footer p{
    padding-left:10px;
    padding-right:10px;
}
form{
    margin:auto;
    padding-left:30px;
    
}
form label{
    color:#ffffff;
    text-transform: uppercase;
}
form p{
    visibility: hidden;
}
input{
    color:#007d7b;
    font-weight: bold;
    text-transform: uppercase;
    padding:5px;
    padding-right:180px;
    margin-bottom:30px;
}
input[type=submit]{
    background: #007d7b;
    color:#ffffff;
    border-radius: 15px;
    padding:8px;
    padding-right:80px;
    padding-left:80px;
    text-align:center;
    margin:0 auto;
    display:block;
    margin-bottom:70px;
}
p small{
    text-transform: uppercase;
}

 
@media (min-width:880px) {
    body{
        width: 880px;
        
    }
    nav{
        width:880px;
    }
    nav a{
        margin:10px;
    }
    nav ul{
        text-align: center;
    }
   
    .galleryimgs{
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: repeat(8,auto);
        grid-gap:10px;
    }
    img{
        width:100%;
    }

    .chile{
        grid-row:1 / 2;
    }
    .guatemala{
        grid-row:1 / 2;
    }
    .hawaii{
        grid-row:2 / 3;
    }
    .iran{
        grid-row: 2 / 4;
    }
   .ireland{
    grid-row: 4 / 6;
   }
   .italy{
    grid-row: 4 / 6;
   }
   .moab{
    grid-row: 6 / 7;
   }
   .rockymtns{
    grid-row: 6/ 7;
   }
   .switzerland{
    grid-row: 7 / 8;
   }
   .uk{
    grid-row: 7 / 8;
   }
   .usa{
    grid-row: 8 / 9;
   }
   .wyoming{
    grid-row: 8 / 9;
   }
   input{
    padding-right:610px;
   }
   input[type=submit]{
    padding-left: 120px;
    padding-right: 120px;
   }

}

@media (min-width:1300px){
    body{
        width:1300px;
    }
    nav ul{
        text-align: right;
    }
    main{
        width:1300px;
    }
    .galleryimgs{
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(5,auto);
    }
    .chile{
        grid-row:1 / 2;
    }
    .guatemala{
        grid-row:1 / 2;
    }
    .hawaii{
        grid-row:1 / 2;
    }
    .iran{
        grid-row: 2 / 4;
    }
   .ireland{
    grid-row: 2 / 4;
   }
   .italy{
    grid-row: 2 / 4;
   }
   .moab{
    grid-row: 4 / 5;
   }
   .rockymtns{
    grid-row: 4/ 5;
   }
   .switzerland{
    grid-row: 4 / 5;
   }
   .uk{
    grid-row: 5 / 6;
   }
   .usa{
    grid-row: 5 / 6;
   }
   .wyoming{
    grid-row: 5 / 6 ;
   }
   input{
    padding-right:1000px;
   }
   input[type=submit]{
    padding-left: 200px;
    padding-right: 200px;
   }

}